<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>NWOW</title>
  </head>
  <body>
    <script src=<%= BASE_URL %>/tinymce4.7.5/tinymce.min.js></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&key=AIzaSyCcpq4V2NmldO9DdD0LHkYdyMYDQt-7Miw"></script>
    <script src=<%= BASE_URL %>/tinymce4.7.5/markerwithlabel.js></script>
    <div id="app"></div>
  </body>
</html>
